.hero {
  min-height: 750px;
  /* background: url('../img/hero-min.jpg') center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  /*.rsvp-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
  }*/
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    margin-bottom: 40px;
  }
  p.intro {
    color: $txt-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero-content {
    padding-top: 40%;
  }
  .hero-content img {
    width: 55%;
    margin-bottom: 12%;
  }
}

.navbar {
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}
